@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
body
{
    
    font-family: Itim;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    margin: 0px;
    min-width: 250px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    background-color: #FFD2CF;
}
.block1
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainCard
{
    width: 90%;
    height: 90%;
    background: #FFF;
    border-radius: 25px;
    max-width: 1050px;
    max-height: 850px;
}
.inCard
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
.inCard aside
{
    width: 50%;
    height: 100%;
}
.inCard aside div
{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.inCard aside form
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
}
.inCard aside div img
{
    width: 40%;
    max-width: 205px;
    min-width: 60px;
}
.inCard aside input
{
    background: #FFD2CF;
    border: none;
    box-shadow:3px 3px 4px rgb(0, 0, 0, 25%);
    width: 90%;
    max-width: 350px;
    font-size: 18px;
    height: 50px;
    padding: 0px;
    padding-left: 30px;
    border-radius: 12px;

    font-size: 18px;
    font-family: Itim;
    
    border: 0pх;
}
.inCard aside input::placeholder
{
    color: rgb(138, 91, 74, 45%);
}
.inCard aside input:focus::placeholder
{
    opacity: 0;
}
.inCard aside input:focus
{
    outline: none;
}
.inCard aside button
{
    width: 100%;
    max-width: 350px;
    height: 50px;
    
    background: #FFD2CF;
    border: none;
    border-radius: 25px;

    position: relative;
    bottom: 0px;

    font-size: 18px;
    font-family: Itim;
    color: rgb(138, 91, 74);
}

.plate
{
    position: absolute;
    height: 100%;
    max-height: 850px;
    width: 50%;
    max-width: 525px;
    right: 0px;
    transition: right 0.5s ease-in-out, left 0.5s ease-in-out;
    background-color: #FFC4C4;
    border-radius: 25px;
    border-radius: 100px 25px 25px 100px ;
    
    
}
.inPlate
{
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
}
.inPlate button
{
    color: rgb(138, 91, 74, 70%);
    background-color: #FFD2CF;
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    min-height: 40px;
    min-width: 40px;

    padding: 0px;
    border: none;
    border-radius: 28px;
    font-family: Itim;
    font-size: 18px;

    margin-top: 10%;
    margin-left: 10%;

    transition: border 0.1s ease-out;
}
.inPlate button:hover
{
    border: 3px #8A5B4A solid;
}
.inPlate button:active
{
    background-color: rgb(255, 210, 207, 45%);
}
.inPlate p
{
    font-size: 18px;
    font-family: Itim;
    color: #8A5B4A;
    max-width: 400px;
}
.links
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    min-width: 100%;
}
.Log
{
width: 100%;
}
.separator 
{
    border: 1px #8A5B4A solid;
    border-radius: 100px;
}
.anotherLog
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.anotherLog p
{
    text-align: center;
}