@import url('https://fonts.googleapis.com/css2?family=Itim&family=Raleway:wght@200;300;400;500;600;700;800&display=swap');
body
{
    
    font-family: Itim;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    margin: 0px;
    min-width: 250px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    background-color: #FFD2CF;
}
.block1
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainCard
{
    width: 90%;
    height: 90%;
    background: #FFF;
    border-radius: 25px;
    max-width: 1050px;
    max-height: 850px;
}
.inCard
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
.inCard aside
{
    width: 50%;
    height: 100%;
}
.inCard aside div
{
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
}
.inCard aside form
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 50px;
}
.inCard aside div img
{
    width: 40%;
    max-width: 205px;
    min-width: 60px;
}
.inCard aside input
{
    background: #FFD2CF;
    border: none;
    box-shadow:3px 3px 4px rgb(0, 0, 0, 25%);
    width: 90%;
    max-width: 350px;
    font-size: 18px;
    height: 50px;
    padding: 0px;
    padding-left: 30px;
    border-radius: 12px;

    font-size: 18px;
    font-family: Itim;
    
    border: 0pх;
}
.inCard aside input::placeholder
{
    color: rgb(138, 91, 74, 45%);
}
.inCard aside input:focus::placeholder
{
    opacity: 0;
}
.inCard aside input:focus
{
    outline: none;
}
.inCard aside button
{
    width: 100%;
    max-width: 350px;
    height: 50px;
    
    background: #FFD2CF;
    border: none;
    border-radius: 25px;

    position: relative;
    bottom: 0px;

    font-size: 18px;
    font-family: Itim;
    color: rgb(138, 91, 74);
}